<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Bad day RKN</title>
    <meta name="description" content="Bad_day_RKN project. Self-destruct notes" />
    <meta name="keywords" content="PrivateNote, Private, Note, notes, self, destruct, Bad, day, RKN" />
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet" />
    <link rel="stylesheet" href="../style/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
</head>

<body>
<p class="rkn">
    <a href="/">
        <img src="../img/rkn.png" class="logo">
    </a>
</p>
<!--<h1 style="color: white; text-align: center;">it is local version</h1>-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47359768 = new Ya.Metrika2({
                    id:47359768,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47359768" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->